body::before {
    display: block;
    content: '';
    height: 70px;
}

@media(min-width: 768px) {
    .input-group {
        width: 50%;
    }
    .learn-section {
        width: 50%;
    }
    .react-img {
        width: 40%;
    }
}


.navmenu {
    background-color: white;
    list-style: none;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: none;
    font-weight: bold;
}



.navmenu.active {
    display: block;
}

